body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template: 300px 100px 100px / 50% 200px 100px;
    /* grid-column-gap: 30px;
    grid-row-gap: 50px; */
    /* grid-gap: rows / comuns */
    grid-gap: 10px 100px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid brown;
}

.item:nth-of-type(4) {
    background: blueviolet;
    overflow: auto;
    /* display: subgrid; */
    /* display: inline-grid; */
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item {
    background: yellowgreen;
}