body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    /* grid-template: 300px 100px 100px / 50% 200px 100px; */
    /* fr */
    /* grid-template: 300px 100px 100px / 1fr 1fr 1fr; */
    /* Repeat */
    /* grid-template: 300px 100px 100px / repeat(4, 1fr); */
    /* minmax */
    /* grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr)); */
    grid-template: 300px 100px 100px / minmax(200px, 1fr) 1fr 1fr 1fr;
    /* grid-column-gap: 30px;
    grid-row-gap: 50px; */
    /* grid-gap: rows / comuns */
    grid-gap: 10px;
}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid brown;
}

.item:nth-of-type(4) {
    background: blueviolet;
    overflow: auto;
    /* display: subgrid; */
    /* display: inline-grid; */
    display: grid;
    grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item {
    background: yellowgreen;
}