body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 5px;

}

.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid brown;
}

.item:nth-of-type(1) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.item:nth-of-type(2) {
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.item:nth-of-type(3) {
    grid-column: 6 / span 2;
}


/* Otra forma de realizarlo */
/* .item:nth-of-type(1){
    grid-column: span 3;
    grid-row: span 2;
}
.item:nth-of-type(2){
    grid-column: span 2;
    grid-row: span 2;
}
.item:nth-of-type(3){
    grid-column: span 2;
} */